html {
  scroll-behavior: smooth;
}

.active{
  opacity: 0.6;
  color: #001dff;
}

/* Seiten Body haupt werte */
body {

  background-color: black;
  min-height: 650px;
  padding: 0;
  margin: 0;
  left: 0px;
  right: 0px;
  height: auto;
  width: auto;
}

.mingalerie{
  background-color: none;
  min-height: 1080px;
  background-image: url("bilder/gross/gonzen.jpg");
  background-repeat:no-repeat;
}

p {
  font-family: verdana;
}
/* Titel 1 */
h1 {
  font-family: arial black, sans-serif;
  color: white;
  font-size: 2.5vw;

}
/* Titel 2 */
h2 {
  font-family: arial black, sans-serif;
  color: white;
  font-size: 2vw;
}
/* Navigation der Webseite */
nav{
  margin-top: 10px;
  top: 0px;
  text-align: center;
  font-family: arial black, sans-serif;
  height: 100px;
  left: 0px;
  right: 0px;
      /* Berge */
    border-bottom-left-radius: 103px;
    border-bottom-right-radius: 103px;
    border-style: solid;
    margin-left: 25vw;
    margin-right: 25vw;
    border-color: #faebd700;
    border-bottom-color: #ffffff;

}

/* Einstellungen der Link abstände */
li {

  text-align: center;
  list-style: none;
  font-size: 30px;
  font-style: normal;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
/* Globale Link layouts */
a {
  text-decoration: none;
  color: white;
  font-size: 3vw;
}
a:hover {
  color: #0088ff;
}

nav:hover {
  border-bottom-color: #001dff;

}

div.bildbox:hover{
  border-color: yellow;
  border:opacity 0.6; /*test*/

}

/* Footer mit denn erstellern der Webseite */
footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 50px;
  background-color: white;
}
/* text eigenschaften font style */
p.footernames{
  text-align: center;
  color: black;
}
/* Allgemeine Postion der Texte auf der webseite */
div.textseite {
  text-align: center;
}

mains{
  height: auto;
  width: auto;
  text-align: center;
}

/* layout der Bilder Galerie */

div.bildbox{
  margin: 5px;
  height: 300px;
  width: 300px;
  float: left;
  background-color: none;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 3px;
}

div.bildseite {
  text-align: center;
  width: 1000px;
  display: inline-block;
  background-color:rgba(192,192,192,0.6);
  border-radius: 5px;

}

figure {
  display:inline-block;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

figcaption {
  color: white;
  font-family: verdana;
}
video {
  width: 100%;
  height: 100%;
}

img {
  border-radius: 3px;
  opacity: 1;
}

.bildgrossholder{
  height: 40vw;
  width: 50vw;
}

.bildlinkmainholder{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.bildcenter{
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
}

.bildtext{
    color: white;
    font-size: 1vw;
}

.bildnachlinks{
  position: fixed;
  top: 50%;
  left: 0;
  transform:translateY(-50%);
}
.bildnachrechts{
  position: fixed;
  top: 50%;
  right: 0;
  transform:translateY(-50%);
}

/*Berge test animation*/



.container {
  position: absolute;
  margin-top: 0%;
  width: 100%;
  top: 0%;
  left: 0;
  right: 0;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  perspective: 400px;
  opacity: 0.1;
  display: inline-block;
  pointer-events: none;
}
.container::after {
  content: '';
  height: 10%;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 40%;
  background: black;
  opacity: 0.9;
}

.mountain {
  background-color: #433C43;
  width: 8%;
  height: 16%;
  position: absolute;
  bottom: 42%;
}
.mountain:nth-of-type(even) {
  right: 0;
}
.mountain::before {
  content: '';
  width: 102%;
  height: 102%;
  position: absolute;
  left: -1%;
  bottom: -1%;
  background: #cccfd1;
  animation: opacity 6s linear infinite;
  animation-delay: inherit;
}

.mountain:nth-of-type(1) {
  animation: mountain2 6s -0.3529411765s linear infinite;
}

.mountain:nth-of-type(2) {
  animation: mountain3 6s -0.7058823529s linear infinite;
}

.mountain:nth-of-type(3) {
  animation: mountain4 6s -1.0588235294s linear infinite;
}

.mountain:nth-of-type(4) {
  animation: mountain5 6s -1.4117647059s linear infinite;
}

.mountain:nth-of-type(5) {
  animation: mountain6 6s -1.7647058824s linear infinite;
}

.mountain:nth-of-type(6) {
  animation: mountain1 6s -2.1176470588s linear infinite;
}

.mountain:nth-of-type(7) {
  animation: mountain2 6s -2.4705882353s linear infinite;
}

.mountain:nth-of-type(8) {
  animation: mountain3 6s -2.8235294118s linear infinite;
}

.mountain:nth-of-type(9) {
  animation: mountain4 6s -3.1764705882s linear infinite;
}

.mountain:nth-of-type(10) {
  animation: mountain5 6s -3.5294117647s linear infinite;
}

.mountain:nth-of-type(11) {
  animation: mountain6 6s -3.8823529412s linear infinite;
}

.mountain:nth-of-type(12) {
  animation: mountain1 6s -4.2352941176s linear infinite;
}

.mountain:nth-of-type(13) {
  animation: mountain2 6s -4.5882352941s linear infinite;
}

.mountain:nth-of-type(14) {
  animation: mountain3 6s -4.9411764706s linear infinite;
}

.mountain:nth-of-type(15) {
  animation: mountain4 6s -5.2941176471s linear infinite;
}

.mountain:nth-of-type(16) {
  animation: mountain5 6s -5.6470588235s linear infinite;
}

.mountain:nth-of-type(17) {
  animation: mountain6 6s -6s linear infinite;
}

.mountain:nth-of-type(18) {
  animation: mountain1 6s -6.3529411765s linear infinite;
}

.mountain:nth-of-type(19) {
  animation: mountain2 6s -6.7058823529s linear infinite;
}

@keyframes mountain1 {
  0% {
    transform: rotate(45deg) translate3d(-130%, 130%, -300px) scale(0.5);
  }
  100% {
    transform: rotate(45deg) translate3d(100%, -100%, 0) scale(1);
  }
}
@keyframes mountain2 {
  0% {
    transform: rotate(45deg) translate3d(120%, -120%, -300px) scale(0.5);
  }
  100% {
    transform: rotate(45deg) translate3d(-100%, 100%, 0) scale(1);
  }
}
@keyframes mountain3 {
  0% {
    transform: rotate(45deg) translate3d(-110%, 110%, -300px) scale(0.5);
  }
  100% {
    transform: rotate(45deg) translate3d(100%, -100%, 0) scale(1);
  }
}
@keyframes mountain4 {
  0% {
    transform: rotate(45deg) translate3d(110%, -110%, -300px) scale(0.5);
  }
  100% {
    transform: rotate(45deg) translate3d(-100%, 100%, 0) scale(1);
  }
}
@keyframes mountain5 {
  0% {
    transform: rotate(45deg) translate3d(-150%, 150%, -300px) scale(0.5);
  }
  100% {
    transform: rotate(45deg) translate3d(100%, -100%, 0) scale(1);
  }
}
@keyframes mountain6 {
  0% {
    transform: rotate(45deg) translate3d(150%, -150%, -300px) scale(0.5);
  }
  100% {
    transform: rotate(45deg) translate3d(-100%, 100%, 0) scale(1);
  }
}
@keyframes opacity {
  85%, 100% {
    opacity: 0;
  }
